// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blue-4: #2b6bb1;

$primary: $blue-4;
$success: #4299e1;
$danger: #e53e3e;