// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-size: .875rem;
    font-family: 'Segoe UI', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //font-family: 'Lato', sans-serif;
    //font-family: 'Open Sans', sans-serif;
    //font-size: .825rem;
    font-weight: bold;
    //font-family: sans-serif;
    background-color: #fff;
}

.btn {
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.card-header {
    padding: 0.5rem 1.25rem;
    background-color: $blue-4;
}

.card-header h5 {
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: #f2f2f2;
}

.card-header h4 {
    margin-bottom: 0;
    font-size: 1.35rem;
    font-weight: bold;
    color: #f2f2f2;
}

.card-header a.action-link {
    color: #ededed;
}

.card-header a.action-link:hover {
    //color: $grey-6;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}


